<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>

  

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
