<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoccerDataApp.Properties.Settings.ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Tigran PC\Source\Repos\WPF_XAML_WCF_Useful-Examples\Data Binding\SoccerDataApp\SoccerPlayers.mdf&quot;;Integrated Security=True"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>