<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISender" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFService/ServiceSender/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISender"
                contract="ServiceReference1.ISender" name="BasicHttpBinding_ISender" />
        </client>
    </system.serviceModel>
</configuration>